@using Blazor.Heroicons

<button type="@Type.ToString().ToLowerInvariant()" class="@Css" @onclick="HandleClickAsync"
        @onclick:preventDefault="false"  disabled="@Disabled">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <span class="font-light @_labelCss">@Label</span>
    }

    <Heroicon Name="@Icon" Solid="false" class="w-4 h-4"/>
</button>