@page "/MenuNavigatorBar"
@inherits FitTech.WebComponents.Components.CancellableComponent;
@using FitTech.WebComponents.Components.IconsSVG


<aside class="fixed left-0 top-0 h-full bg-gray-900 bg-gradient-to-t from-gray-800 to-zinc-900 
              dark:bg-gray-800 border-r border-gray-700 shadow-lg transition-all duration-300 ease-in-out 
              @(isExpanded ? "w-64" : "w-30")">
    <!-- Ahi tenemos el If que ajusta el collapse del Menubar-->
    <div class="mb-6 text-center p-4">
        <h3 class="text-2xl font-bold text-white transition-opacity duration-300 ease-in-out @(isExpanded ? "opacity-100" : "opacity-0")">
            FitTech
        </h3>
    </div>

    <div class="flex items-center justify-center p-4 rounded-lg transition-all duration-300 ease-in-out relative">
        @if (string.IsNullOrEmpty(imagePreviewFromChild))
        {
            <div class="my-4 flex flex-col justify-center items-center opacity-100 cursor-pointer" @onclick="ToggleAvatarModal">
                <img src="https://previews.123rf.com/images/fayethequeen/fayethequeen2209/fayethequeen220900007/191787954-avatar-de-mujer-de-negocios-con-signo-de-interrogaci%C3%B3n-aislado-en-fondo-blanco-silueta-de-avatar-de.jpg"
                     alt="No Avatar"
                     class="w-18 h-18 rounded-full object-cover" />
                <div class="mt-2 text-center">
                    <span class="block text-sm font-semibold text-white transition-opacity duration-300 @(isExpanded ? "opacity-100" : "opacity-0")">
                        User Name
                    </span>
                </div>
            </div>
        }
        else
        {
            <div class="my-7 flex flex-col justify-center items-center cursor-pointer" @onclick="ToggleAvatarModal">
                <img src="@imagePreviewFromChild" alt="Avatar Preview" class="w-18 h-18 rounded-full object-cover" />
                <div class="mt-2 text-center">
                    <span class="block text-sm font-semibold text-white transition-opacity duration-300 @(isExpanded ? "opacity-100" : "opacity-0")">
                        User Name
                    </span>
                </div>
            </div>
        }
    </div>

    @if (isAvatarModalOpen)
    {
        <div class="absolute top-0 left-full ml-4 bg-white p-6 rounded-lg shadow-lg max-w-sm w-full z-10">
            <h3 class="text-xl font-semibold text-center transition-colors duration-300 ease-in-out">
                Cambiar Avatar
            </h3>
            <CascadingValue Value=this>
                <AvatarUpload />
            </CascadingValue>
            <button class="mt-4 bg-white text-red-500 p-2 rounded-full w-full hover:bg-red-500 hover:text-white transition-colors duration-300" @onclick="CloseAvatarModal">
                Cerrar
            </button>
        </div>
    }

    <!-- Separadores -->
    <div class="my-4 mx-6 border-t border-gray-700 opacity-30"></div>
    <div class="my-4 mx-6 border-t border-gray-700 opacity-30"></div>

    <div class="p-6">
        <ul>
            @foreach (var menuItem in menuItems)
            {
                <li class="mt-4">
                    <a href="@menuItem.Link" class="flex items-center border border-transparent block p-2 rounded-lg text-white hover:text-[#ADC539] hover:border hover:border-white transition-colors duration-300">
                        <span class="@(isExpanded ? "mr-2 flex items-center justify-center w-6 h-6" : "flex items-center justify-center w-full -ml-1")">
                            <IconsSVG Icon="@menuItem.Icon" />
                        </span>
                        <span class="text-sm @(isExpanded ? "block" : "hidden")">
                            @menuItem.Text
                        </span>
                    </a>
                </li>
            }
        </ul>
    </div>

    <!-- Footer -->
    <div class="mt-4 p-4 text-center">
        <p class="text-gray-400 text-sm">© 2025 FitTech</p>
    </div>

    <!-- Botón para contraer/expandir -->
    <button @onclick="ToggleSidebar"
            class="absolute bottom-4 right-4 bg-gray-700 hover:bg-gray-600 text-white p-2 rounded-full focus:outline-none transition-all duration-300 ease-in-out">
        <i class="fas fa-chevron-left"></i>
    </button>

</aside>



@code {
    private bool isExpanded = true;
    private string? imagePreviewFromChild;
    private bool isAvatarModalOpen = false;

    private void ToggleSidebar()
    {
        isExpanded = !isExpanded;
    }

    private class MenuItem
    {
        public string? Text { get; set; }
        public string? Link { get; set; }
        public string? Icon { get; set; }
    }

    private List<MenuItem> menuItems = new List<MenuItem>
    {
        new MenuItem { Text = "Inicio", Link = "/home", Icon = "HomeIcon" },
        new MenuItem { Text = "Mi Perfil", Link = "/MyProfile", Icon = "ProfileIcon" },
        new MenuItem { Text = "Rutinas de Ejercicio", Link = "/workouts", Icon = "WorkoutsIcon" },
        new MenuItem { Text = "Gestion de Clientes", Link = "/progress", Icon = "ProgressIcon" },
        new MenuItem { Text = "Planes de Alimentación", Link = "/nutrition", Icon = "NutritionIcon" },
        new MenuItem { Text = "Notificaciones", Link = "/notifications", Icon = "NotificationsIcon" },
        new MenuItem { Text = "Configuración", Link = "/settings", Icon = "SettingsIcon" },
        new MenuItem { Text = "Soporte", Link = "/support", Icon = "SupportIcon" },
        new MenuItem { Text = "Cerrar Sesión", Link = "/logout", Icon = "LogoutIcon" }

    };

    private void ToggleAvatarModal()
    {
        isAvatarModalOpen = !isAvatarModalOpen;
    }

   
    private void CloseAvatarModal()
    {
        isAvatarModalOpen = false;
    }

    public void ActualizarAvatar(string? newImagePreview)
    {
        imagePreviewFromChild = newImagePreview;
        StateHasChanged(); 
    }

    // private async Task session()
    // {
    //     //Necesito una llamada al back para traerme el nombre y los apellidos de la persona que inicia sesión y usarlos en el Avatar.
    // }

}
