@page "/ConfigurationUserPage"
@using FitTech.WebComponents.Pages.ConfigurationPage.ConfigurationModels
@inject NavigationManager Navigation


<div class="h-full w-full ml-80 p-6">
    <div class="text-center">
        <h2 class="text-2xl font-semibold text-green-600 mb-8">
            Información Personal
        </h2>
    </div>
    <div class="rounded-md border border-gray-300 bg-white p-6 shadow-md dark:border-gray-700 dark:bg-gray-800 dark:shadow-none">
        <div class="w-full h-full px-4">

<EditForm Model="ConfigurationUserModel" FormName="CostumerForm">
    <DataAnnotationsValidator/>
    
                <div class="mb-4">
                    <label for="name" class="mb-2 block text-sm font-bold text-gray-700 dark:text-gray-300">Nombre</label>
                    <InputText type="text" @bind-Value="ConfigurationUserModel!.Name" id="firstName" placeholder="Nombre del usuario"
                               class="placeholder-gray-500 w-full rounded border border-gray-300 bg-gray-100 px-3 py-2 text-black focus:ring-2 focus:ring-blue-500 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-white"/>
                    <ValidationMessage For="@(() => ConfigurationUserModel!.Name)" class="text-red-600 text-sm"/>
                </div>
                <div class="mb-4">
                    <label for="lastName" class="mb-2 block text-sm font-bold text-gray-700 dark:text-gray-300">Apellidos</label>
                    <InputText type="text" @bind-Value="ConfigurationUserModel!.LastName" id="lastName" placeholder="Apellidos del usuario"
                               class="placeholder-gray-500 w-full rounded border border-gray-300 bg-gray-100 px-3 py-2 text-black focus:ring-2 focus:ring-blue-500 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-white"/>
                    <ValidationMessage For="@(() => ConfigurationUserModel!.LastName)" class="text-red-600 text-sm"/>
                </div>
                <div class="mb-4">
                    <label for="email" class="mb-2 block text-sm font-bold text-gray-700 dark:text-gray-300">Correo Electrónico</label>
                    <InputText type="text" @bind-Value="ConfigurationUserModel!.Email" id="email" placeholder="Email del usuario"
                               class="w-full rounded border border-gray-300 bg-gray-100 px-3 py-2 text-black focus:ring-2 focus:ring-blue-500 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-white"/>
                    <ValidationMessage For="@(() => ConfigurationUserModel!.Email)" class="text-red-600 text-sm"/>
                </div>
                <div class="mb-4">
                    <label for="birthday" class="mb-2 block text-sm font-bold text-gray-700 dark:text-gray-300">Fecha de Nacimiento</label>
                    <InputDate @bind-Value="ConfigurationUserModel!.Birthdate" id="birthday"
                               class="placeholder-gray-500 w-full rounded border border-gray-300 bg-gray-100 px-3 py-2 text-black focus:ring-2 focus:ring-blue-500 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-white"/>
                    <ValidationMessage For="@(() => ConfigurationUserModel!.Birthdate)" class="text-red-600 text-sm"/>
                </div>
                <div class="mb-4">
                    <label for="phonenumber" class="mb-2 block text-sm font-bold text-gray-700 dark:text-gray-300">Teléfono</label>
                    <InputNumber type="text" @bind-Value="ConfigurationUserModel!.PhoneNumber" id="phonenumber" placeholder="Número de teléfono del usuario"
                                 class="placeholder-gray-500 w-full rounded border border-gray-300 bg-gray-100 px-3 py-2 text-black focus:ring-2 focus:ring-blue-500 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-white"/>
                    <ValidationMessage For="@(() => ConfigurationUserModel!.PhoneNumber)" class="text-red-600 text-sm"/>
                </div>

                <div class="mb-6">
                    <button type="button"
                            class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"
                            @onclick="TogglePasswordFields">
                        @((showPasswordFields ? "Ocultar" : "Cambiar") + " contraseña")
                    </button>
                </div>

                @if (showPasswordFields)
                {
                    <div class="mb-4">
                        <label for="Password" class="mb-2 block text-sm font-bold text-gray-700 dark:text-gray-300">Nueva Contraseña</label>
                        <InputText type="password" @bind-Value="ConfigurationUserModel!.Password" id="Password"
                                   placeholder="Escriba su nueva contraseña"
                                   class="w-full rounded border border-gray-300 bg-gray-100 px-3 py-2 text-black focus:ring-2 focus:ring-blue-500 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-white"/>
                        <ValidationMessage For="@(() => ConfigurationUserModel!.Password)" class="text-red-600 text-sm"/>
                    </div>
                    <div class="mb-4">
                        <label for="RepeatPassword" class="mb-2 block text-sm font-bold text-gray-700 dark:text-gray-300">Repita su nueva Contraseña</label>
                        <InputText type="password" @bind-Value="ConfigurationUserModel!.Password" id="RepeatPassword"
                                   placeholder="Repita la contraseña"
                                   class="w-full rounded border border-gray-300 bg-gray-100 px-3 py-2 text-black focus:ring-2 focus:ring-blue-500 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-white"/>
                        <ValidationMessage For="@(() => ConfigurationUserModel!.Password)" class="text-red-600 text-sm"/>
                    </div>
                }

                <div class="flex justify-end gap-4 mt-6">
                    <button class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700" @onclick="SaveChanges">Guardar Cambios</button>
                    <button type="button" class="text-gray-400 hover:underline">Cancelar</button>
                </div>
                </EditForm>
            </div>
        </div>
    </div>


@code {
    private bool showPasswordFields = false;

    private void TogglePasswordFields()
    {
        showPasswordFields = !showPasswordFields;
    }

    private void  SaveChanges()
    {
        // Lógica de guardado
    }

    private ConfigurationUserModel ConfigurationUserModel { get; set; } = new();
}
