@page "/MenuNavigatorBar"
@inherits FitTech.WebComponents.Components.CancellableComponent;
@using Microsoft.AspNetCore.Components
@using System.Collections.Generic
@using FitTech.WebComponents.Components.IconsSVG

<aside class="fixed left-0 top-0 h-full bg-white dark:bg-gray-800 border-r border-gray-300 dark:border-gray-700 shadow-md transition-all duration-300 ease-in-out @(isExpanded ? "w-64" : "w-20")">
    <div class="mb-6 text-center p-4">
        <h3 class="text-2xl font-bold text-black dark:text-white transition-opacity duration-300 ease-in-out @(isExpanded ? "opacity-100" : "opacity-0")">FitTech</h3>
    </div>

    <div class="p-6">
        <ul>
            @foreach (var menuItem in menuItems)
            {
                <li class="mt-2 text-gray-700 dark:text-gray-300">
                    <a href="@menuItem.Link" class="flex items-center block p-2 rounded hover:bg-gradient-to-r hover:from-[#ADC539] hover:to-[#A5D153] dark:hover:bg-gradient-to-r dark:hover:from-[#ADC539] dark:hover:to-[#A5D153] transition-colors duration-300">
                        <span class="mr-2">
                            <IconsSVG Icon="@menuItem.Icon" />
                        </span>
                        <span class="text-sm @(isExpanded ? "block" : "hidden")">@menuItem.Text</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    
    <div class="mt-4 p-4 text-center">
        <p class="text-gray-700 dark:text-gray-300">© 2025 FitTech</p>
    </div>

    <button @onclick="ToggleSidebar" class="absolute bottom-4 left-0 transform translate-x-full bg-gray-800 text-white p-2 rounded-tl-md focus:outline-none transition-all duration-300 ease-in-out">
        <i class="fas fa-chevron-right"></i>
    </button>
</aside>
@code {
    private bool isExpanded = true;

    private void ToggleSidebar()
    {
        isExpanded = !isExpanded;
    }

    private class MenuItem
    {
        public string? Text { get; set; }
        public string? Link { get; set; }
        public string? Icon { get; set; }
    }

    private List<MenuItem> menuItems = new List<MenuItem>
    {
        new MenuItem { Text = "Inicio", Link = "/home", Icon = "HomeIcon" },
        new MenuItem { Text = "Mi Perfil", Link = "/profile", Icon = "ProfileIcon" },
        new MenuItem { Text = "Rutinas de Ejercicio", Link = "/workouts", Icon = "WorkoutsIcon" },
        new MenuItem { Text = "Seguimiento de Progreso", Link = "/progress", Icon = "ProgressIcon" },
        new MenuItem { Text = "Planes de Alimentación", Link = "/nutrition", Icon = "NutritionIcon" },
        new MenuItem { Text = "Clases en Vivo", Link = "/live-classes", Icon = "LiveClassesIcon" },
        new MenuItem { Text = "Comunidad", Link = "/community", Icon = "CommunityIcon" },
        new MenuItem { Text = "Desafíos", Link = "/challenges", Icon = "ChallengesIcon" },
        new MenuItem { Text = "Notificaciones", Link = "/notifications", Icon = "NotificationsIcon" },
        new MenuItem { Text = "Configuración", Link = "/settings", Icon = "SettingsIcon" },
        new MenuItem { Text = "Soporte", Link = "/support", Icon = "SupportIcon" },
        new MenuItem { Text = "Cerrar Sesión", Link = "/logout", Icon = "LogoutIcon" }
        
    };
}
