@using Blazor.Heroicons
@inherits CancellableComponent

<aside class="fixed left-0 top-0 h-full bg-fittech-white 
              shadow-lg transition-all duration-300 ease-in-out 
              @(_isExpanded ? "w-64" : "w-20")">

    <!-- Logo -->
    <div class="flex items-center justify-center h-20 border-b border-r border-fittech-green">
        <h3 class="text-2xl font-bold text-fittech-dark transition-opacity duration-300 ease-in-out 
                   @(_isExpanded ? "opacity-100" : "opacity-0")">
            FitTech
        </h3>
    </div>

    <!-- Menú -->
    <ul class="mt-6 space-y-1">
        @if (MenuItems is not null)
        {
            @foreach (var menuItem in MenuItems)
            {
                <li>
                    <a href="@menuItem.Link"
                       class="group flex items-center rounded-lg px-4 py-5 text-fittech-dark hover:text-fittech-dark
                              hover:bg-fittech-green transition-all duration-300
                              @(!_isExpanded ? "justify-center" : "")">
                        
                        <span class="flex items-center justify-center h-6 w-6">
                            <Heroicon Name="@menuItem.Icon" Type="HeroiconType.Outline"
                                      class="h-6 w-6 text-fittech-dark group-hover:text-fittech-dark transition-colors duration-300"/>
                        </span>

                        <span class="ml-3 text-sm font-medium transition-all duration-300 ease-in-out
                                     @(_isExpanded ? "opacity-100" : "opacity-0 hidden")">
                            @menuItem.Text
                        </span>
                    </a>
                </li>
            }
        }
    </ul>

    <!-- Footer -->
    <div class="@(_isExpanded ? "absolute bottom-0 left-0 w-full px-4 py-3" : "hidden")">
        <p class="text-sm text-center text-fittech-grayvibrant">@@FitTech Copyright</p>
    </div>

    <!-- Botón toggle -->
    <button @onclick="ToggleSidebar"
            class="absolute bottom-4 right-4 bg-gray-700 hover:bg-gray-600 text-white p-2 rounded-full
                   focus:outline-none transition-transform duration-300 ease-in-out
                   @(!_isExpanded ? "rotate-180" : "")">
        <i class="fas fa-chevron-left"></i>
    </button>
</aside>

@code {
    private bool _isExpanded = true;

    private void ToggleSidebar()
    {
        _isExpanded = !_isExpanded;
    }

    [Parameter][EditorRequired] public List<MenuItem> MenuItems { get; set; } = [];

    public class MenuItem
    {
        public string Text { get; init; } = null!;
        public string Link { get; init; } = null!;
        public string Icon { get; init; } = null!;
    }

}