@using Blazor.Heroicons
@using FitTech.WebComponents.Components.Buttons
@using FitTech.WebComponents.Styles.Enums
@inherits CancellableComponent

<aside class="bg-fittech-white 
              shadow-lg transition-all duration-300 ease-in-out border-r-1 border-r-fittech-green
              @(_isExpanded ? "w-64" : "w-20")
              flex flex-col">

    <div class="flex-col grow">
        <ul class="mt-2 space-y-1">
            @if (MenuItems.Any())
            {
                @foreach (var menuItem in Build())
                {
                    if (menuItem.IsSubMenu)
                    {
                        <li>
                            <p class="font-semibold text-sm text-shadow-fittech-dark pl-1 @(_isExpanded ? "opacity-100" : "opacity-0 hidden")">@menuItem.Text</p>
                        </li>
                        continue;
                    }

                    <li>
                        <a href="@menuItem.Link"
                           class="group flex items-center px-3 py-1 text-fittech-dark hover:text-fittech-dark
                              hover:bg-fittech-green transition-all duration-300
                              @(!_isExpanded ? "justify-center" : "")">

                            @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                            {
                                <span class="flex items-center justify-center h-4 w-4">
                                    <Heroicon Name="@menuItem.Icon" Type="HeroiconType.Outline"
                                              class="h-4 w-4 text-fittech-dark group-hover:text-fittech-dark transition-colors duration-300"/>
                                </span>
                            }

                            <span class="ml-0.5 text-sm font-medium transition-all duration-300 ease-in-out
                                     @(_isExpanded ? "opacity-100" : "opacity-0 hidden")">
                                @menuItem.Text
                            </span>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="flex grow-0 items-center">
        <div class="@(_isExpanded ? "w-full px-4 py-3" : "hidden")">
            <p class="text-sm text-center text-fittech-secondary">@@FitTech Copyright</p>
        </div>
        <FitTechButton Class="m-2" Shape="Shape.Circle" Size="Size.Small"
                       Icon="@(_isExpanded ? @HeroiconName.ArrowLeft : @HeroiconName.ArrowRight)"
                       OnClick="@ToggleSidebar"/>
    </div>
</aside>

@code {
    private bool _isExpanded = true;

    internal Task ToggleSidebar(MouseEventArgs eventArgs)
    {
        _isExpanded = !_isExpanded;

        return Task.CompletedTask;
    }

    public MenuItem[] Build()
    {
        var itemsList = new List<MenuItem>();
        foreach (var menuItem in MenuItems)
        {
            if (menuItem.SubMenu is null)
            {
                itemsList.Add(menuItem);
                continue;
            }

            itemsList.Add(new MenuItem(menuItem.Text));

            foreach (var subMenuItem in menuItem.SubMenu)
            {
                itemsList.Add(new MenuItem(subMenuItem.Text, subMenuItem.Link, subMenuItem.Icon));
            }
        }

        return itemsList.ToArray();
    }

    [Parameter] [EditorRequired] public List<MenuItem> MenuItems { get; set; } = [];

    public record SubMenuItem(string Text, string Link, string? Icon = null);

    public record MenuItem(string Text, string? Link = null, string? Icon = null, SubMenuItem[]? SubMenu = null)
    {
        public bool IsSubMenu => string.IsNullOrWhiteSpace(Link);
    };

}